In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [82]:
df_ucdp = pd.read_csv(r'C:\Users\matth\OneDrive - GENES\ENSAE 2A\Python pour le data scientist/ged211.csv')
df_model = df_ucdp[['id','year', 'country','best','type_of_violence', 'side_a', 'side_b']]


#instabilité politique
df_insta_pol = pd.read_excel(r'C:\Users\matth\OneDrive - GENES\ENSAE 2A\Python pour le data scientist/p5v2018.xls')
df_insta_pol2 = df_insta_pol[df_insta_pol['year']>= 1989] #de 1989 à 2018
df_insta_pol3 = df_insta_pol2[['country','year','polity2']]


#vulnérabilité climatique
df_clim = pd.read_excel(r'C:\Users\matth\OneDrive - GENES\ENSAE 2A\Python pour le data scientist/donnees-indicateur-de-vulnerabilite-physique-au-changement-climatique (1).xlsx')
df_vul_chang_clim = df_clim[['Country', 'PVCCI']]
d = df_insta_pol3.merge(df_vul_chang_clim, left_on = 'country', right_on = 'Country').drop(columns = ['Country'])


#fractionalisation sociale
df = pd.read_excel(r'C:\Users\matth\OneDrive - GENES\ENSAE 2A\Python pour le data scientist/indicateurs-de-fragmentation-ethnolinguistique.xls')
df_fractio_soci = df[['country_name','fearon']]
d2 = d.merge(df_fractio_soci, left_on = 'country', right_on = 'country_name').drop(columns = ['country_name'])


#vulnérabilité économique structurelle
df1 = pd.read_excel(r'C:\Users\matth\OneDrive - GENES\ENSAE 2A\Python pour le data scientist/indicateur-de-vulnerabilite.xlsx')
df2 = df1[df1['year']>= 1989]
df_vul_eco = df2[['country','year','EVI']]
d3 = d2.merge(df_vul_eco, left_on = 'country', right_on = 'country').drop(columns = ['year_x'])
d3

C:\Users\matth\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

           country  polity2      PVCCI  fearon  year_y        EVI
0      Afghanistan     -8.0  59.671955   0.751    1989        NaN
1      Afghanistan     -8.0  59.671955   0.751    1990  31.802521
2      Afghanistan     -8.0  59.671955   0.751    1991  31.579372
3      Afghanistan     -8.0  59.671955   0.751    1992  30.419651
4      Afghanistan     -8.0  59.671955   0.751    1993  30.988297
...            ...      ...        ...     ...     ...        ...
91045     Zimbabwe      4.0  57.981360   0.366    2014  58.104874
91046     Zimbabwe      4.0  57.981360   0.366    2015  58.380211
91047     Zimbabwe      4.0  57.981360   0.366    2016  57.590748
91048     Zimbabwe      4.0  57.981360   0.366    2017  57.711140
91049     Zimbabwe      4.0  57.981360   0.366    2018  57.888145

[91050 rows x 6 columns]

ModuleNotFoundError: No module named 'wbgapi'

In [70]:
pip install wbgapi

Collecting wbgapi
  Downloading wbgapi-1.0.7-py3-none-any.whl (35 kB)
Requirement already satisfied: requests in c:\users\matth\anaconda3\lib\site-packages (from wbgapi) (2.25.1)
Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Requirement already satisfied: PyYAML in c:\users\matth\anaconda3\lib\site-packages (from wbgapi) (5.4.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\matth\anaconda3\lib\site-packages (from requests->wbgapi) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\matth\anaconda3\lib\site-packages (from requests->wbgapi) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\matth\anaconda3\lib\site-packages (from requests->wbgapi) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\matth\anaconda3\lib\site-packages (from requests->wbgapi) (1.26.4)
Installing collected packages: tabulate, wbgapi
Successfully installed tabulate-0.8.9 wbgapi-1.0.7
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import wbgapi as wb
df_banque_mond = wb.data.DataFrame(['SP.POP.TOTL','NY.GDP.PCAP.KD','SI.POV.GINI','NY.GDP.MKTP.KD.ZG','HD.HCI.OVRL'], labels =True, time = range(1989, 2020), columns = 'series').reset_index()
d4 = d3.merge(df_banque_mond, left_on = 'country', right_on = 'Country')
d4.head(10)

,economy,time,Country,Time,HD.HCI.OVRL,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.KD,SI.POV.GINI,SP.POP.TOTL
0,ZWE,YR2019,Zimbabwe,2019,NaN,-6.144236,1367.676915,50.3,14645473.0
1,ZWE,YR2018,Zimbabwe,2018,0.461242,4.824211,1509.523735,NaN,14438812.0
2,ZWE,YR2017,Zimbabwe,2017,0.441000,4.709492,1479.233468,44.3,14236599.0
3,ZWE,YR2016,Zimbabwe,2016,NaN,0.755869,1433.608776,NaN,14030338.0
4,ZWE,YR2015,Zimbabwe,2015,NaN,1.779873,1445.069702,NaN,13814642.0
5,ZWE,YR2014,Zimbabwe,2014,NaN,2.376929,1443.617777,NaN,13586710.0
6,ZWE,YR2013,Zimbabwe,2013,NaN,1.989493,1435.062663,NaN,13350378.0
7,ZWE,YR2012,Zimbabwe,2012,NaN,16.665429,1432.305854,NaN,13115149.0
8,ZWE,YR2011,Zimbabwe,2011,NaN,14.193913,1248.729206,43.2,12894323.0
9,ZWE,YR2010,Zimbabwe,2010,0.410366,19.675323,1110.447012,NaN,12697728.0